<link rel="stylesheet" href="{{ relURL "/css/reboot.css" }}" />
<link rel="stylesheet" href="{{ relURL "/css/style.css" }}" />
<link rel="stylesheet" href="{{ relURL "/css/syntax.css" }}" />
<script type="text/javascript" src="{{ relURL "/js/main.js" }}"></script>

<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
