body {
    background-color: rgb(251, 251, 251);
    color: rgb(84, 84, 84);
    max-width: 660px;
    margin: 22px auto 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Georgia, Palatino, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 28px;
}

header {
    padding-bottom: 0.5rem;
}

article header {
    margin-left: 2rem;
    line-height: 1.2;
}

h2 {
    line-height: 1.25em;
    font-size: 1.5em;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    color: rgb(75, 75, 75);
}

h1 {
    line-height: 1.5em;
    font-size: 1.25em;
    font-weight: normal;
}

ul>li {
    list-style: "✦ ";   
}

ul li ul li {
    list-style: "✧ ";   
}

article a[href$=".pdf"]::after {
    content: "";
    opacity: 0.85;

    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

    width: 0.85em;
    height: 0.75em;
    display: inline-block;

    margin-left: 0.1em;

    -webkit-mask-image: url('/css/pdf.svg');
            mask-image: url('/css/pdf.svg');

    background-color: red;
}
article a[href$=".pdf"]:visited::after {
    background-color: red;
}

article a[href*="wikipedia.org/wiki/"]::after {
    content: "";
    opacity: 0.85;

    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

    width: 0.85em;
    height: 0.75em;
    display: inline-block;

    margin-left: 0.1em;

    -webkit-mask-image: url('/css/wikipedia.svg');
            mask-image: url('/css/wikipedia.svg');

    background-color: red;
}
article a[href*="wikipedia.org/wiki/"]:visited::after {
    background-color: red
}

article a[href*="github.com"]::after {
    content: "";
    opacity: 0.85;

    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

    width: 0.85em;
    height: 0.75em;
    display: inline-block;

    margin-left: 0.1em;

    -webkit-mask-image: url('/css/github.svg');
            mask-image: url('/css/github.svg');

    background-color: red;
}

article a[href*="github.com"]:visited::after {
    background-color: red;
}
