{{ define "content" }}
<section id="main" class="content-container article-pad-v">
  <div>
    <h1 id="title" style="margin-bottom: 0.75em">{{.Title}}</h1>
    <ul id="list" class="list-unstyled list-of-titles">
      {{ range .Site.Params.Menu }}
        <li>
          <a href="{{ .url | relURL }}">
            <span class="post-title">{{ .name }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
